.header{
    height: 6rem;
    line-height: 6rem;
    overflow: hidden;
    box-shadow: 0 2px 12px #ccc;
    background: white;
}
.header-div{
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.ant-menu{
    text-align: right;
}
.ant-menu-horizontal{
    border-bottom: none;
}
.ant-menu-horizontal {
    line-height: 92px;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
    margin: 0;
    padding: 0 20px;
}